.fluid {
    width: 100%;
    clear: both;
    display: block;
}

#content {
    padding-top: 0px;
}

#wrapper_2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-stretch: condensed;
    background-color: #e4eaea;
    padding-top: 20px;
}

#content_2 {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#c4l_logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    display: block;
}

#blue_heading {
    color: #25408f;
    /*margin-left: 7%;*/
    text-align: center;
}

#green_heading {
    color: #2e8069;
    margin: 20px 0;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: none;
}

#date_range {
    color: #25408f;
    text-align: center;
}

#disclaimer {
    color: #25408f;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: center;
}

#button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

.btn_blue {
    background-color: #25408f;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.img-respond {
    display: inline-block;
    max-width: 98%;
    height: auto;
}

.banner-img {
    max-width:100%;
    width: 94%; 
    margin-bottom: 4vh; 
    margin-left: 18px;
}

// Placed class on parent due to having 30+ child elements, going for DRY code
.how-to-play-steps {
    tr {
        td {
            text-align: left; 
            vertical-align: top;
        }

        td:first-of-type {
            width: 36px;
        }
    }
}

.info-container {
    .tabset {
        display: flex;
        padding: 0 0 0 1px;
    
        li {
            width: 100%;
        }
    }
}


.tab-list {
    .tab {
        display: none;
    }

    .show {
        display: block;
    }
}

.claim-prize-button {
    background-image: linear-gradient(0deg,#089f60 33%,#42bb89 67%,#7bd7b1 84%);
    display: inline-block;
    font-size: 18px;
    padding: 8px 36px;
    text-align: center;

    border: 1px solid #09a061;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 2px 2px #646464;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }
}

.two-columns {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    .col {
        width: 50%;
        margin-top: 20px;

        h2 {
            text-transform: uppercase;
        }
    }
}

.local-stations {
    li {
        margin-bottom: 12px;
    }
}