/* h2 {
    font-size: 60px;
    vertical-align: middle;
} */
/* h3 {
    font-size: 40px;
} */

.fluid {
    width: 100%;
    clear: both;
    display: block;
}

#content {
    padding-top: 0px;
}

#wrapper_2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-stretch: condensed;
    background-color: #e4eaea;
    padding-top: 20px;
}

#content_2 {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#c4l_logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    display: block;
}

#blue_heading {
    color: #25408f;
    /*margin-left: 7%;*/
    text-align: center;
}

#green_heading {
    color: #2e8069;
    /*margin-left: 21%;*/
    margin-top: -5%;
    text-align: center;
}

#date_range {
    color: #25408f;
    text-align: center;
}

#disclaimer {
    color: #25408f;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: center;
}

#button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

.btn_blue {
    background-color: #25408f;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.img-respond {
    display: inline-block;
    max-width: 98%;
    height: auto;
}