@import 'helpers/colors';
@import 'helpers/typography';
@import 'helpers/global';
@import 'helpers/mixins';

.info-container {
  width: 100%;
  top: -1px;
  padding: 0 0 13px;

  .info-section {
    overflow: hidden;
    padding: 0 0 0 27px
  }

  .list-info {
    float: left;
    width: 208px;
    border-right: 1px solid $alt-white;
    padding: 1px 0 0;

    .link-section {
      display: none
    }

    .list {
      list-style: none;
      margin: 0;
      padding: 10px 0 10px;
      font-size: 14px;
      line-height: 16px;

      ul {
        margin: 0;
        padding: 0;

      }
      
      li {
        vertical-align: top;
        padding: 0;

        a {
          display: block;
          padding: 8px 10px 9px;
          color: $lottery-grey;
          padding-left: 30px;
          background: none;
          font-size: 14px;
          font-weight: normal;

          &:link {
            padding-left: 25px;
          }
  
          &:hover {
            font-weight: 700;
            background: #e9eaea;
            text-decoration: none
          }
        }
      }

      .CMSListMenuHighlightedLI {
        a {
          font-weight: bold;
          background: #e9eaea;
          text-decoration: none
        }
      } 
    }
  }

  .tabset {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0 0 0 12px;

    li {
      float: left;
      margin: 0;
    }

    a {
      display: block;
      text-align: center;
      min-width: 207px;
      padding: 7px 2px;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      color: $lottery-grey;
      text-shadow: 0 1px 1px $white;
      background: #acacac;
      border: 1px solid #9a9a9a;
      border-width: 1px 1px 0;
      border-color: #646464 #9a9a9a;
      box-shadow: 0 1px 0 #949494 inset;

      &:hover {
        text-decoration: none;
        background: #f8f5f5;
        border-color: #646464 #d7d4d4;
        box-shadow: 0 1px 0 #d5d2d2 inset;
      }
    }

    .active {
      text-decoration: none;
      background: #f8f5f5;
      border-color: #646464 #d7d4d4;
      box-shadow: 0 1px 0 #d5d2d2 inset;
    }
  }

  .tab-list {
    background: #f8f5f5;
    border: 1px solid #dcdbdb;
    border-width: 0 1px 1px;
    border-color: #878787 #dcdbdb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin: 0 1px 3px;
    padding: 24px 19px;
    color: $alt-gray;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
  }

  &:after { @include after-container }
}

#page-content {
  p {
    margin-left: 0;
    line-height: 20px;
  } 

  .alignleft {
    display: block;
    float: left;
    margin: 0 15px 10px 0
  }
}

.content-area {
  h1 {
    clear: both;
    margin: 0 0 27px 0;
    font-size: 20px;
    line-height: 24px;
    color: $green;
    text-transform: uppercase;
  }
}

.container {
  height: 1%;
  position: relative;
  margin: 0 -7px;
  width: 100%;
  max-width: 962px;
  padding: 6px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: $lottery-grey;

  p {
    margin: 0 0 29px 10px
  }

  &:after { @include after-container }
}

#DailyDraw {
  border-bottom: 1px solid #e9e5e6;
  padding-bottom: 20px;
  min-height: 250px;
  text-align: center;

  img.GameLogo {
    clear: both;
    display: block;
    margin: 0 auto
  }
}

#DailyDrawDraws {
  h1 {
    font-size: 24px;
  }
} 

.result-area .red-circle,
.adv-circle .yellow-circle,
.adv-circle .red-circle,
.adv-circle .white-circle,
.circle-list li,
span.winning_number,
.blue-circle {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 28px;
  width: 40px;
  height: 40px;
  background: $white;
  font-size: 20px;
  font-weight: bold;
  color: $lottery-grey;
  line-height: 41px;
  background-size: cover;
}

.circle-list {
  list-style: none;
  margin: 0;
  padding: 15px 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  display: inline-block;

  li {
    background: none;
    background-image: url(https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/bg-ball-white-44.gif);
    background-repeat: no-repeat;
    background-position: top left;
    width: 44px;
    height: 38px;
    font-size: 30px;
    padding-top: 5px;
    line-height: normal;

    img {
      width: 53px;
    }
  }

  li.wildball {
    display: block;
    margin: 10px auto 0 auto !important;
    min-height: 50px;
    padding: 0;
    clear: both;
    background: none !important;
    border: none !important;
    width: auto !important;

    span {
      width: 44px;
      height: 38px;
      font-size: 30px;
      padding-top: 6px;
      line-height: normal;
    }
  }

  img {
    display: inline-block;
    margin-top: -3px;
    margin-right: 8px;
    width: 50px;
  }

  span {
    background: $blue;
    color: $white;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-radius: 28px;
    width: 41px;
    height: 41px;
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
    margin: 0 0 0 -10px;
    background-size: cover;
  }
}

.helper {
  position: relative;
}

.dailypayoutlink {
  color: $darkest-green;
  display: block;
  float: right;
  font-weight: bold;
  text-align: right;
}

.dailydrawtime {
  color: $darkest-green;
  float: left;
  font-weight: bold;
  text-align: center
}

#middayDraw {
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 294px
}

#eveningDraw {
  float: left;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 294px
}

.dailydrawtime {
  color: $dark-grey;
}

.dailyNumbers {
  clear: both;
  background-color: $lottery-green;
  border-radius: 14px;
  box-shadow: inset 1px 1px 0 $grey;
  margin: 0 auto;
  width: 270px;
}

@include tablet-styles {
  .info-container {
    margin: 0;
    
    .list-info {
      width: 170px;

      .list {
        font-size: 12px;
        line-height: 14px
      }
    }
  }

  #middayDraw {
    margin-left: 29px;
  }

  #page-content {
    p a {
      display: black;
    }

    p:first-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@include mobile-styles {
  .info-container {
    margin: 0;

    .list-info {
      position: absolute;
      top: 38px;
      right: 10px;
      z-index: 1;

      .link-section {
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 2px 6px 2px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        min-width: 149px;
        color: $white;
        text-align: center;
        background: #048251;
        text-decoration: none;
        box-shadow: 0 1px 1px #999;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 8px;

        span {
          display: inline-block;
          vertical-align: top;
          padding: 0 20px 0 0;
          background: url(/App_Themes/PALotteryAll/images/arrow-10.png) no-repeat 100% 5px
        }
      }

      .list {
        display: none;
      }
    }

    .expanded {
      .link-section {
        span {
          background-position: 100% -57px;
        }
      }
    }
  }

  .info-container .list-info .list .CMSListMenuHighlightedLI ul li a {
    color: $white;
  }

  .info-container .list-info .list .CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a,
  .info-container .list-info .list .CMSListMenuHighlightedLI ul li a:hover {
    color: $black;
  }

  .info-container .list-info .list .CMSListMenuHighlightedLI a,
  .info-container .list-info .list a:hover {
    color: $black;
  }
}