@import 'helpers/colors';
@import 'helpers/typography';
@import 'helpers/global';

.info-container .info-section {
  overflow: hidden;
  padding: 0 30px 0 30px; /* 0 0 0 27px */
}

/*#page-content p {
  margin-left: 150px;
}*/

.content-area h1 {
  clear: both;
  margin: 0 0 27px 0;
  font-size: 20px;
  line-height: 24px;
  color: $green;
  text-transform: uppercase
}

.info-container {
  width: 100%;
  top: -1px;
  padding: 0 0 13px
}

.info-container .list-info {
  float: left;
  width: 208px;
  border-right: 1px solid #ebebeb;
  padding: 1px 0 0
}

.info-container .list-info .link-section {
  display: none
}

.info-container .list-info .list {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px;
  font-size: 14px;
  line-height: 16px
}

.info-container .list-info .list li {
  vertical-align: top;
  padding: 0 0 9px
}

.info-container .list-info .list a {
  display: block;
  padding: 8px 10px 9px;
  color: #5e5e5e
}

.info-container .list-info .list .CMSListMenuHighlightedLI a,
.info-container .list-info .list a:hover {
  font-weight: bold;
  background: #e9eaea;
  text-decoration: none
}

.info-container:after,
.container:after {
  content: "";
  display: block;
  clear: both
}

@media only screen and (max-width:1019px) {
  .info-container {
    margin: 0
  }

  .info-container .list-info {
    width: 170px
  }
  .info-container .list-info .list {
    font-size: 12px;
    line-height: 14px
  }
}

@media only screen and (max-width:767px),
screen and (device-width: 320px) {
  .info-container {
    margin: 0
  }

  .info-container .list-info .link-section {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 2px 6px 2px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    min-width: 149px;
    color: #fff;
    text-align: center;
    background: #048251;
    text-decoration: none;
    box-shadow: 0 1px 1px #999;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 8px
  }
  .info-container .list-info .link-section span {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
    background: url(/App_Themes/PALotteryAll/images/arrow-10.png) no-repeat 100% 5px
  }
  .info-container .expanded .link-section span {
    background-position: 100% -57px
  }
  .info-container .list-info {
    position: absolute;
    top: 38px;
    right: 10px
  }
  .info-container .list-info .list {
    display: none
  }
  .info-container .list-info .list .CMSListMenuHighlightedLI ul li a {
    color: #fff
  }
  .info-container .list-info .list .CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a,
  .info-container .list-info .list .CMSListMenuHighlightedLI ul li a:hover {
    color: #000
  }
  .info-container .list-info .list .CMSListMenuHighlightedLI a,
  .info-container .list-info .list a:hover {
    color: #000
  }
  .info-container .list-info {
    z-index: 1
  }
}

.info-container .list-info .list li {
  vertical-align: top;
  padding: 0;
}

.info-container .list-info .list ul {
  margin: 0;
  padding: 0;
}

.info-container .list-info .list ul li a,
.info-container .list-info .list ul li a:link {
  padding-left: 30px;
}

.info-container .list-info .list .CMSListMenuHighlightedLI ul li a {
  background: none;
  font-weight: normal;
}

.info-container .list-info .list .CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a,
.info-container .list-info .list .CMSListMenuHighlightedLI ul li a:hover {
  font-weight: bold;
  background: #e9eaea;
  text-decoration: none;
}

#page-content p {
  line-height: 20px
}

#page-content .alignleft {
  display: block;
  float: left;
  margin: 0 15px 10px 0
}

.container p {
  margin: 0 0 29px 10px
}

.info-container .tabset {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 0 12px
}

.info-container .tabset li {
  float: left;
  margin: 0 1px 0 0
}

#page-content .tabset li {
  margin-bottom: 0
}

.info-container .tabset a {
  display: block;
  text-align: center;
  min-width: 207px;
  padding: 7px 2px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #4d4d4d;
  text-shadow: 0 1px 1px #fff;
  background: #acacac;
  border: 1px solid #9a9a9a;
  border-width: 1px 1px 0;
  border-color: #646464 #9a9a9a;
  box-shadow: 0 1px 0 #949494 inset;
}

.info-container .tabset .active,
.info-container .tabset a:hover {
  text-decoration: none;
  background: #f8f5f5;
  border-color: #646464 #d7d4d4;
  box-shadow: 0 1px 0 #d5d2d2 inset;
}

.info-container .tab-list {
  background: #f8f5f5;
  /*border: 1px solid #dcdbdb;
  border-width: 0 1px 1px;
  border-color: #878787 #dcdbdb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0 1px 3px;
  padding: 24px 19px;
  color: #717171;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;*/
}

#DailyDraw {
  border-bottom: 1px solid #e9e5e6;
  padding-bottom: 20px;
  min-height: 250px;
}

#DailyDrawDraws h1 {
  font-size: 24px;
}

#page-content.page-content-games #DailyDrawDraws .circle-list li,
#page-content.page-content-games #jackpotDraw .circle-list li {
  background: none;
  background-image: url(https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/bg-ball-white-44.gif);
  background-repeat: no-repeat;
  background-position: top left;
  width: 44px;
  height: 38px;
  font-size: 30px;
  padding-top: 5px;
  line-height: normal;
}

.circle-list li.wildball {
  display: block;
  margin: 10px auto 0 auto !important;
  min-height: 50px;
  padding: 0;
  clear: both;
  background: none !important;
  border: none !important;
  width: auto !important;
}

.circle-list li.wildball img {
  display: inline-block;
  margin-top: -3px;
  margin-right: 8px;
  width: 50px;
}

.circle-list li.wildball span {
  background: #253089;
  color: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 28px;
  width: 41px;
  height: 41px;
  font-size: 20px;
  font-weight: bold;
  line-height: 41px;
  margin: 0 0 0 -10px;
  background-size: cover;
}

#page-content.page-content-games #DailyDrawDraws .circle-list li.wildball span {
  width: 44px;
  height: 38px;
  font-size: 30px;
  padding-top: 6px;
  line-height: normal;
}

#DailyDraw {
  text-align: center
}

.helper {
  position: relative;
}

.dailypayoutlink {
  color: #0f6742;
  display: block;
  float: right;
  font-weight: bold;
  text-align: right;
}

.dailydrawtime {
  color: #0f6742;
  float: left;
  font-weight: bold;
  text-align: center
}

#DailyDraw img.GameLogo {
  clear: both;
  display: block;
  margin: 0 auto
}

#middayDraw {
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 294px
}

#eveningDraw {
  float: left;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 294px
}

#DailyDrawDraws h1 {
  font-size: 24px;
}

#page-content.page-content-games #DailyDrawDraws .circle-list li img {
  width: 53px;
}

.dailydrawtime {
  color: #363435;
}

.dailyNumbers {
  clear: both;
  background-color: #008051;
  border-radius: 14px;
  box-shadow: inset 1px 1px 0 #666;
  margin: 0 auto;
  width: 270px;
}

.circle-list {
  list-style: none;
  margin: 0;
  padding: 3px 0 5px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

.result-area .red-circle,
.adv-circle .yellow-circle,
.adv-circle .red-circle,
.adv-circle .white-circle,
.circle-list li,
span.winning_number,
.blue-circle {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 28px;
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 41px;
  background-size: cover;
}

#page-content.page-content-games #DailyDrawDraws .circle-list li,
#page-content.page-content-games #jackpotDraw .circle-list li {
  background: none;
  background-image: url(https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/bg-ball-white-44.gif);
  background-repeat: no-repeat;
  background-position: top left;
  width: 44px;
  height: 38px;
  font-size: 30px;
  padding-top: 5px;
  line-height: normal;
}

#page-content.page-content-games #DailyDrawDraws .circle-list li.wildball span {
  width: 44px;
  height: 38px;
  font-size: 30px;
  padding-top: 6px;
  line-height: normal;
}

.container {
  height: 1%;
  position: relative;
  margin: auto auto; /* 0 -7px */
  width: 962px;
  padding: 6px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
  display: block; /* John V code */
}

/* John V code start */
.newtablist {
  padding: 0 20px 0 20px;
}

.pick2container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  .pick2col1 {
    flex:1; 
  }
  .pick2col2 {
    flex:3; 
  }
}

.tabcontainer {
  display: none;
  padding: 20px 0;
}

.newtablist {
  display: flex;
  display: -webkit-flex;
}

#winningnumberscontainer  {
  display: none;
}

.row {
  display: flex;
  display: -webkit-flex;
  width: 90%;
  margin: auto auto;
}

.winningnumbersbtn, .howtoplaybtn {
  flex: 1;
  color: #4d4d4d;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: .2s;
  background: #9a9a9a;
  font-weight: bold;
}

#howtoplaycontainer {
  display: none;
}

.active {
  background: #f8f5f5;
  cursor: not-allowed; 
  pointer-events: none;
  a h2 {
    color: #4d4d4d !important;
  }
}

.winningnumbersbtn h2, .howtoplaybtn h2 {
  font-size: 15px;
  margin: 0;
  padding: 8px 0;
  color: #4d4d4d;
  text-shadow: #fff;
  text-decoration-style: none;
  &:hover {
    background: #e8e6e6;
    text-decoration: none;
  }
}

.winningnumbersbtn a h2, .howtoplaybtn a h2 {
  text-decoration: none;
  color: #ffffff;
}

.winningnumbersbtn a:hover h2, .howtoplaybtn a:hover h2 {
  text-decoration: none;
  color: #4d4d4d;
}

.box {
  flex: 1;
  /*border: #d3d3d3 1px solid;*/
  text-align: center;
  margin-bottom: 20px;
}

.dayevening {
  display: flex; 
  display: -webkit-flex;
  width: 90%; 
  margin: auto auto; 
  padding: 0 20px;
  .date {
    flex:1; text-align: left;
  }
  .payout {
    flex:1; 
    text-align: right; 
  }
}

.greenbox {
  background: #008051;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  margin: auto auto;
  border-radius: 14px;
  padding: 10px 0;
  h1 {
    text-align: center;
    color: #00803E;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
}

.instructions {
  h1 {
    text-align: left;
    color: #4d4d4d !important;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  p {
    color: #4d4d4d;
    text-align: left;
    margin: 0 !important;
    padding-right: 25px;
  }
  li {
    text-align: left;
    margin-bottom: 10px;
  }
}

.howto {
  flex-direction: column;
  padding-top: 20px;
  img {
    width: 85%;
    display: block;
    margin: auto auto;
  }
  h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  h2 {
    text-align: center;
    color: #008051;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin-left: -30px;
  }
  li {
    padding-left: 40px;
    line-height: 20px;
  }
}

.one { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/1.gif') left top no-repeat;  }
.two { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/2.gif') left top no-repeat;  }
.three { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/3.gif') left top no-repeat;  }
.four { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/4.gif') left top no-repeat;  }
.five { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/5.gif') left top no-repeat;  }
.six { background: url('https://www.palottery.state.pa.us/PaLotteryWebSite/media/Misc/Logos/wildball_bullet.png') left top no-repeat;  }
.seven { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/6.gif') left top no-repeat;  }
.eight { background: url('https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/7.gif') left top no-repeat;  }

.greenbox-row {
  display: block;
  margin: 8px auto 8px auto;
  width: 100%;
  .circle {
    display: inline-block;
    border-radius: 28px;
    font-size: 28px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin: auto 5px;
  }
  .white {
    background: #ffffff;
  }
  .blue {
    background: #253089;
    color: #ffffff;
  }
}

@media screen and (max-width: 935px) {
  .row  {
      flex-direction: column;
  }
  .pick2container {
      flex-direction: column;
      .pick2col1 img {
        display: block;
        margin: 0 auto 20px auto !important;
        width: 217px;
        float: none !important;
    }
  }
  .greenbox {
      max-width: 275px;
  }
  .dayevening {
      max-width: 375px;
  }
}

/* John V code end */