@import 'helpers/colors';
@import 'helpers/typography';
@import 'helpers/global';

@mixin box-border-box {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

#page-content p {
  margin-left: 0;
}

.content-area h1 {
  clear: both;
  margin: 0 0 27px 0;
  font-size: 20px;
  line-height: 24px;
  color: $green;
  text-transform: uppercase;
}

.info-container {
  width: 100%;
  top: -1px;
  padding: 0 0 13px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .info-section {
    overflow: hidden;
    padding: 0 0 0 27px;
  }

  .list-info {
    float: left;
    width: 208px;
    border-right: 1px solid #ebebeb;
    padding: 1px 0 0;

    .link-section {
      display: none;
    }

    .list {
      list-style: none;
      margin: 0;
      padding: 10px 0 10px;
      font-size: 14px;
      line-height: 16px;
    }

    .list li {
      vertical-align: top;
      padding: 0 0 9px;
    }

    .list a {
      display: block;
      padding: 8px 10px 9px;
      color: #5e5e5e;

      &:hover {
        font-weight: bold;
        background: #e9eaea;
        text-decoration: none;
      }
    }

    .list .CMSListMenuHighlightedLI a {
      font-weight: bold;
      background: #e9eaea;
      text-decoration: none;
    }
  }
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

@media only screen and (max-width:1019px) {
  .info-container {
    margin: 0;

    .list-info {
      width: 170px;

      .list {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

}

@media only screen and (max-width:767px),
screen and (device-width: 320px) {
  .info-container {
    margin: 0;

    .list-info {
      position: absolute;
      top: 38px;
      right: 10px;
      z-index: 1;

      .link-section {
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 2px 6px 2px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        min-width: 149px;
        color: #fff;
        text-align: center;
        background: #048251;
        text-decoration: none;
        box-shadow: 0 1px 1px #999;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 8px;

        span {
          display: inline-block;
          vertical-align: top;
          padding: 0 20px 0 0;
          background: url(/App_Themes/PALotteryAll/images/arrow-10.png) no-repeat 100% 5px;
        }
      }

      .list {
        display: none;

        .CMSListMenuHighlightedLI ul li a {
          color: #fff;
        }

        .CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a,
        .CMSListMenuHighlightedLI ul li a:hover {
          color: #000;
        }

        .CMSListMenuHighlightedLI a,
        a:hover {
          color: #000;
        }
      }
    }

    .expanded .link-section span {
      background-position: 100% -57px;
    }
  }

}

.info-container .list-info .list {
  li {
    vertical-align: top;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  ul li a,
  ul li a:link {
    padding-left: 30px;
  }

  .CMSListMenuHighlightedLI ul li a {
    background: none;
    font-weight: normal;
  }

  .CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a,
  .CMSListMenuHighlightedLI ul li a:hover {
    font-weight: bold;
    background: #e9eaea;
    text-decoration: none;
  }
}

#page-content p {
  line-height: 20px;
}

#page-content .alignleft {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
}

.container p {
  margin: 0 0 29px 10px;
}

.info-container .tabset {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 0 12px;

  li {
    float: left;
    margin: 0 1px 0 0;
  }

  a {
    display: block;
    text-align: center;
    min-width: 207px;
    padding: 7px 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #4d4d4d;
    text-shadow: 0 1px 1px #fff;
    background: #acacac;
    border: 1px solid #9a9a9a;
    border-width: 1px 1px 0;
    border-color: #646464 #9a9a9a;
    box-shadow: 0 1px 0 #949494 inset;
  }

  .active,
  a:hover {
    text-decoration: none;
    background: #f8f5f5;
    border-color: #646464 #d7d4d4;
    box-shadow: 0 1px 0 #d5d2d2 inset;
  }
}

#page-content .tabset li {
  margin-bottom: 0;
}

.info-container .tab-list {
  background: #f8f5f5;
  border: 1px solid #dcdbdb;
  border-width: 0 1px 1px;
  border-color: #878787 #dcdbdb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0 1px 3px;
  padding: 24px 19px;
  color: #717171;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
}

.info-container .tab-list p,
.info-container .tab-list ul {
  margin-bottom:25px;
}

#DailyDraw {
  border-bottom: 1px solid #e9e5e6;
  padding-bottom: 20px;
  min-height: 250px;
}

#DailyDrawDraws h1 {
  font-size: 24px;
}

#page-content.page-content-games  {
  #DailyDrawDraws .circle-list li,
  #jackpotDraw .circle-list li {
    background: none;
    background-image: url(https://www.palottery.state.pa.us/Custom/uploadedimages/games-assets/bg-ball-white-44.gif);
    background-repeat: no-repeat;
    background-position: top left;
    width: 44px;
    height: 38px;
    font-size: 30px;
    padding-top: 5px;
    line-height: normal;
  }

  #DailyDrawDraws .circle-list li.wildball span {
    width: 44px;
    height: 38px;
    font-size: 30px;
    padding-top: 6px;
    line-height: normal;
  }

  #DailyDrawDraws .circle-list li img {
    width: 53px;
  }
}

.circle-list li.wildball {
  display: block;
  margin: 10px auto 0 auto !important;
  min-height: 50px;
  padding: 0;
  clear: both;
  background: none !important;
  border: none !important;
  width: auto !important;

  img {
    display: inline-block;
    margin-top: -3px;
    margin-right: 8px;
    width: 50px;
  }

  span {
    background: #253089;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-radius: 28px;
    width: 41px;
    height: 41px;
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
    margin: 0 0 0 -10px;
    background-size: cover;
  }
}

#DailyDraw {
  text-align: center;
}

.helper {
  position: relative;
}

.dailypayoutlink {
  color: #0f6742;
  display: block;
  float: right;
  font-weight: bold;
  text-align: right;
}

.dailydrawtime {
  color: #0f6742;
  float: left;
  font-weight: bold;
  text-align: center;
}

#DailyDraw img.GameLogo {
  clear: both;
  display: block;
  margin: 0 auto;
}

#eveningDraw,
#middayDraw {
  float: left;
  margin:15px 0 50px 0;
  padding:0 2.5%;
  width: 45%;
}

#DailyDrawDraws h1 {
  font-size: 24px;
}

.dailydrawtime {
  color: #363435;
}

.dailyNumbers {
  clear: both;
  background-color: #008051;
  border-radius: 14px;
  box-shadow: inset 1px 1px 0 #666;
  margin: 0 auto;
}

.circle-list {
  list-style: none;
  margin: 0;
  padding: 15px 0 5px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

.result-area .red-circle,
.adv-circle .yellow-circle,
.adv-circle .red-circle,
.adv-circle .white-circle,
.circle-list li,
span.winning_number,
.blue-circle {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 28px;
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 41px;
  background-size: cover;
}

.container {
  height: 1%;
  position: relative;
  margin: 0 -7px;
  max-width: 962px;
  padding: 6px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
}

/* NEW JN 2022-01-10 */

.game-intro {
  margin:0 0 50px 0;

  p {
    margin:0 0 35px 0;
  }

  *:last-child {
    margin-bottom:0;
  }
}

.tab-list {
  h2 {
    color:$green;
    margin:0 0 25px 0;
  }
}

.tab-columns {
  display:flex;
  align-items:baseline;
  padding:5% 0 0 0;

  .col {
    @include box-border-box;
    width:50%;
  }

  .col:first-child {
    padding-right:3%;
  }

  .col:last-child {
    padding-left:3%;
  }
}

.tab {
  padding:15px 0 0 0;
  opacity:0;
  transition:.3s;
  display:none;
  animation: tabsFadeOut 1s;

  &.tabActive {
    opacity:1;
    display:block;
    animation: tabsFadeIn 1s;
  }
}

@keyframes tabsFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes tabsFadeOut {
  from { opacity: 0; }
  to { opacity: 1; }
}

.results-past-numbers {
  width:auto;
  clear:both;
  padding:0 0 10px 0;
  float:none;
  display:block;
}

.tab-cta a {
  display:inline-block;
  color:#FFFFFF;
  background-color:$btn-background-color;
  padding:15px 35px;
  border-radius:5px;
  transition:.3s;
  font-weight:700;
  font-size:1.1em;

  &:hover {
    background-color:$btn-background-color-hover;
  }
}

#howtoplay table {

  margin-bottom:15px;
  width: 100%;

  tbody td {
    padding-top:10px;
    padding-bottom:10px;
    text-align: left;
    vertical-align: top;

    &:first-child {
      width:36px;
    }
  }
}

.tab-td-lefttop {
}

@media only screen and (max-width:760px) {
  .container {
    margin: 0 auto;
  }

  .game-intro {
    margin:0 0 50px 0;

    p {
      margin:0 0 25px 0;
      font-size:1.2em;
      text-align:center;
    }

    #MainPageLogo {
      display: block;
      float: none;
      margin: 0 auto 10px auto;
    }

  }

  .info-container .tabset {
    padding: 0;
  }

  .info-container .tabset li {
    float: none;
    margin: 0;
  }

  .info-container .tabset a {
    min-width: none;
    padding: 35px 15px;
    font-size: 18px;
    line-height: 16px;
  }

  #eveningDraw,
  #middayDraw {
    float: none;
    margin:0 auto 25px auto;
    padding:0;
    max-width:300px;
    width:auto;
  }

  #middayDraw {
    margin-bottom:50px;
  }

  .tab-columns {

    flex-wrap:wrap;

    .col {
      width:100%;
    }
    .col:first-child {
      padding:0 0 3% 0;
    }
    .col:last-child {
      padding:0;
    }

  }
}
